<button class="quitButton" mat-raised-button color="warn" (click)="quitClicked()">X</button>
<mat-tab-group class="customTabs">
  <mat-tab label="Turn" class="fullHeight">
    <div class="gameContainer">
      <div class="playerInfoLeft" [ngClass]="{'activePlayer': activePlayer() === 1}">
        <p>{{plr1Name}}</p>
        <p>Score: {{getPlr1Score()}}</p>
        <p>Fouls: {{getPlr1Fouls()}}</p>
      </div>
      <div class="playerInfoRight" [ngClass]="{'activePlayer': activePlayer() === 2}">
        <p>{{plr2Name}}</p>
        <p>Score: {{getPlr2Score()}}</p>
        <p>Fouls: {{getPlr2Fouls()}}</p>
      </div>
      <div class="tableCount">
        <p>On table: {{ballsOnTable()}}  Turn: {{currentTurn()}}</p>
      </div>
      <div class="currentTurnScore">
        <h1>{{currentBreak()}}</h1>
      </div>
      <div class="scoreButtons">
        <button mat-raised-button color="primary" (click)="plusClicked()">+</button>
        <button mat-raised-button color="primary" (click)="minusClicked()">-</button>
        <button mat-raised-button color="primary" (click)="newRackClicked()">NEW RACK</button>
        <button mat-raised-button color="primary" (click)="newRack15Clicked()">
          <p>FULL CLEAR</p>
        </button>
      </div>
      <div class="endTurnButtonRow">
        <button mat-raised-button color="accent" (click)="safeClicked()">SAFE</button>
        <button mat-raised-button color="primary" (click)="missClicked()">MISS</button>
        <button mat-raised-button color="warn" (click)="foulClicked()">FOUL</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Table">
    <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">
      <ng-container matColumnDef="turn">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element.turnId}} </td>
      </ng-container>  
      <ng-container matColumnDef="plr1Turn">
        <th mat-header-cell *matHeaderCellDef> Turn </th>
        <td mat-cell *matCellDef="let element"> {{element.plr1Turn}} </td>
      </ng-container>
      <ng-container matColumnDef="plr1Total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.plr1Total}} </td>
      </ng-container>
      <ng-container matColumnDef="plr2Turn">
        <th mat-header-cell *matHeaderCellDef> Turn </th>
        <td mat-cell *matCellDef="let element"> {{element.plr2Turn}} </td>
      </ng-container>
      <ng-container matColumnDef="plr2Total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.plr2Total}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Statistics">
    <table mat-table [dataSource]="statsDataSource">
      <ng-container matColumnDef="statType">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{element.statType}} </td>
      </ng-container>  
      <ng-container matColumnDef="plr1StatVal">
        <th mat-header-cell *matHeaderCellDef>{{plr1Name}}</th>
        <td mat-cell *matCellDef="let element"> {{element.plr1StatVal}} </td>
      </ng-container>
      <ng-container matColumnDef="plr2StatVal">
        <th mat-header-cell *matHeaderCellDef>{{plr2Name}}</th>
        <td mat-cell *matCellDef="let element"> {{element.plr2StatVal}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedStatsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedStatsColumns;"></tr>
    </table>
  </mat-tab>
</mat-tab-group>


