.gameContainer{
    height: 100%;
    display: grid;
    grid-template-rows: 100px auto 50px 50px;
    grid-template-columns: 80px 50px auto 50px 80px;
}

.playerInfoRight{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    text-align: right;
}

.currentTurnScore{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    justify-self: center;
}

.tableCount{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    text-align: center;
    align-self: center;
}

.scoreButtons{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    display: grid;
    width: calc(100% - 5px);
    grid-template-rows: auto auto auto auto;
}

.scoreButtons button{
    height: 50px;
    widows: 100%;
    display: block;
    float: right;
}

.playerInfoLeft, .playerInfoRight{
    width: 130px;
}

.playerInfoLeft p, .playerInfoRight p{
    color: gray;
}

.endTurnButtonRow{
    height: 40px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

table {
    width: 100%;
}

.activePlayer p{
    font-size: 24px;
    color: black;
}

tbody tr.mat-row,
thead tr.mat-header-row{
    height: 28px;
}

.mat-column-turn{
    width: 25px;
}

.mat-column-plr1Turn,
.mat-column-plr1Total,
.mat-column-plr2Turn,
.mat-column-plr2Total{
    width: 21%;
}

.statsContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

.playerStatsLeft,
.playerStatsRight{
    justify-self: center;
    text-align: center;
}

.mat-table{
    padding-top: 5px;
}

button.quitButton{
    position: absolute;
    right: 10px;
    top: 10px;
}

.mat-tab-group{
    height: calc(100% - 60px);
}

.mat-tab-body-wrapper{
    height: 100%;
    padding: 10px;
}

p, h1{
    margin: 0;
}

.tableCount p {
    display: inline;
}