<mat-card>
  <h3>New game</h3>
  <mat-form-field>
    <input matInput type="number" placeholder="Distance" [(ngModel)]="distance"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Player 1</mat-label>
    <mat-select [(ngModel)]="selectedPlayer1">
      <mat-option *ngFor="let player of dbPlayers" [value]="player.name">{{player.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Player 2</mat-label>
    <mat-select [(ngModel)]="selectedPlayer2">
      <mat-option *ngFor="let player of dbPlayers" [value]="player.name">{{player.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="startGameClicked()">START</button>
</mat-card>
<mat-card>
  <h3>Add new player</h3>
  <mat-form-field>
    <input matInput type="text" placeholder="Player name" [(ngModel)]="newPlayer"/>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addUserClicked()">ADD</button>
</mat-card>