<mat-tab-group class="customTabs">
  <mat-tab label="Turn" class="fullHeight">
    <div class="gameContainer">
      <div class="playerInfoLeft" [ngClass]="{'activePlayer': plr1Turn}">
        <p>{{plr1.Name}}</p>
        <p>Score: {{plr1Score}}</p>
        <p>Fouls: {{plr1Fouls}}</p>
      </div>
      <div class="playerInfoRight" [ngClass]="{'activePlayer': !plr1Turn}">
        <p>{{plr2.Name}}</p>
        <p>Score: {{plr2Score}}</p>
        <p>Fouls: {{plr2Fouls}}</p>
      </div>
      <div class="tableCount">
        <p>On table: {{ballsOnTable}}</p>
        <p>Current turn: {{currentTurn}}</p>
      </div>
      <div class="currentTurnScore">
        <h1>{{currentBreak}}</h1>
      </div>
      <div class="scoreButtons">
        <button mat-raised-button color="primary" (click)="plusClicked()">+</button>
        <button mat-raised-button color="primary" (click)="minusClicked()">-</button>
        <button mat-raised-button color="primary" (click)="newRackClicked()">NEW RACK</button>
        <button mat-raised-button color="primary" (click)="newRack15Clicked()">
          <p>15th BALL</p>
          <p>POCKETED</p>
        </button>
      </div>
      <div class="endTurnButtonRow">
        <button mat-raised-button color="accent" (click)="safeClicked()">SAFE</button>
        <button mat-raised-button color="primary" (click)="missClicked()">MISS</button>
        <button mat-raised-button color="warn" (click)="foulClicked()">FOUL</button>
        <button mat-raised-button color="warn" (click)="scratchClicked()">SCRATCH</button>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="turn">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element"> {{element.turn}} </td>
          </ng-container>  
          <ng-container matColumnDef="plr1Turn">
            <th mat-header-cell *matHeaderCellDef> Turn </th>
            <td mat-cell *matCellDef="let element"> {{element.plr1Turn}} </td>
          </ng-container>
          <ng-container matColumnDef="plr1Total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{element.plr1Total}} </td>
          </ng-container>
          <ng-container matColumnDef="plr2Turn">
            <th mat-header-cell *matHeaderCellDef> Turn </th>
            <td mat-cell *matCellDef="let element"> {{element.plr2Turn}} </td>
          </ng-container>
          <ng-container matColumnDef="plr2Total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{element.plr2Total}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  </mat-tab>
</mat-tab-group>


